[submodule "SVF"]
	path = SVF
	url = git@github.com:SVF-tools/SVF.git
[submodule "json"]
	path = json
	url = git@github.com:nlohmann/json.git
[submodule "edger8r"]
	path = edger8r
	url = git@github.com:LeoneChen/edger8r.git
[submodule "magic_enum"]
	path = magic_enum
	url = git@github.com:Neargye/magic_enum.git
[submodule "SGXFuzzerRT/libFuzzer"]
	path = SGXFuzzerRT/libFuzzer
	url = git@github.com:LeoneChen/libFuzzer.git
[submodule "linux-sgx"]
	path = linux-sgx
	url = git@github.com:intel/linux-sgx.git
