[submodule "SVF"]
	path = SVF
	url = git@github.com:SVF-tools/SVF.git
[submodule "plthook"]
	path = plthook
	url = git@github.com:kubo/plthook.git
[submodule "edger8r"]
	path = edger8r
	url = git@github.com:LeoneChen/edger8r.git
[submodule "json"]
	path = json
	url = git@github.com:nlohmann/json.git
